.item-wrapper {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.item-check-circle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;

}

.item-check-circle.done {
    border: 1px solid #38d9a9;
    color: #38d9a9;
}

.item-text {
    flex: 1;
    font-size: 21px;
    color: #495057;
}

.item-text.done {
    color: #ced4da;
}

.item-remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
}

.item-wrapper:hover .item-remove-btn {
    opacity: 1;
}

.item-remove-btn:hover {
    color: #ff6b6b;
}
